@font-face {
  font-family: 'Another Danger';
  src: url(../fonts/Another\ Danger\ Slanted\ -\ Demo.otf);
}
body{
  background: rgb(148,18,5);
  background: linear-gradient(0deg, rgba(148,18,5,0.95) 0%, rgba(64,2,2,0.95) 70%);
  height: 100vh;
}
.btnTarantino{
  background-color:#D94711 ;
  border:#D94711; 
  color: #E6E7E9;
  border-radius: 5px;
  font-family: "Mulish 500";
 }
 .btn-primary:hover {
  color: #fff;
  background-color: #400202;
  border-color: #400202;
}
.logoStyle{
  font-family:'Another Danger';
  font-size: calc(0.5rem + 10vw);
  color: #E6E7E9;
  text-align: center;
}
  