@font-face {
  font-family: "Another Danger";
  src: url(../fonts/Another\ Danger\ Slanted\ -\ Demo.otf);
}
body {
  background: rgb(148,18,5);
  background: linear-gradient(0deg, rgba(148,18,5,0.95) 0%, rgba(64,2,2,0.95) 70%);
}
.moviePri {
  top: 0;
  margin-top: calc(1.4rem + 4.5vh);
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.btnTarantino {
  background-color: #d94711;
  color: #e6e7e9;
  border: 0px;
  border-radius: 5px;
  font-family: "Mulish 500";
}
.btnTarantino:hover {
  color: #fff;
  background-color: #400202;
}
/*---------------------navbar------------*/
.logo-tarantino {
  font-family: "Another Danger";
}
.navFix {
  top: 0;
  background-color: #1f1110;
  position: fixed;
  z-index: 1;
}
.elementNav{
  color: white;
}
.elementNav:hover {
  transition: all 100ms;
  font-size: 1.1em;
  color: #f2bb13;
}
.menu_img {
  width: 50px;
}
.menu_nesting {
  transition: all 600ms;
}
.menu_nesting.show {
  background-color: #1f1110;
}
/* main cards */
.cardCategory:hover{
  transform: scale(1.2);
  transition: 0.5s;
}
/* carrusel */
.imgCardMovie{
  border-radius: 5px;
  height: 100%;
  object-fit: cover;
}
.cardMovie:hover{
  -webkit-box-shadow: 0px 10px 20px -20px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 10px 20px -20px rgba(0, 0, 0, 1);
  box-shadow: 0px 10px 20px -20px rgba(0, 0, 0, 1);
  transform: scale(1.1);
  transform-origin: top center;
  transition: 0.3s;
  z-index: 1;
}
.boxCarrusel{
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: calc(1rem + 2vw);
}
.cardMovie {
  -webkit-box-shadow: 0px 20px 20px -20px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 20px 20px -20px rgba(0, 0, 0, 1);
  box-shadow: 0px 20px 20px -20px rgba(0, 0, 0, 1);
  position: relative;
}
.desCardMovie{
  display: none;
  position: absolute;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 100%;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 40%, rgba(0,0,0,0.10127801120448177) 100%);
}
.cardMovie:hover .desCardMovie {
  display: block;
  border-radius: 5px;
}
.btnPlay{
  height: 100%;
  width: 100%;
}
.iconPlay{
  width: 30%;
}