@font-face {
  font-family: 'Another Danger';
  src: url(../fonts/Another\ Danger\ Slanted\ -\ Demo.otf);
}
body{
  background-image: url(../img/6e958353b6e5688fe22917284e2c7755.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.bgTarantino{
  background: rgb(148,18,5);
  background: linear-gradient(0deg, rgba(148,18,5,0.95) 0%, rgba(64,2,2,0.95) 70%);
  height: 100vh;
}
.logoStyle{
  font-family:'Another Danger';
  font-size: calc(1.5rem + 10vw);
  margin-bottom: 2rem;
}
.btnTarantino{
  background-color:#D94711 ;
  color: #E6E7E9;
  border-radius: 5px;
  font-family: "Mulish 500";
}
.btnTarantino:hover {
  color: #fff;
  background-color: #400202;
}
/*estilos interface registro */
.text-registro{
  font-family: "Mulish 700";
}
.casilla-registro{
  font-family:"Mulish 200";
}
/*estilos interface load */
.spinLoad{
  height: calc(1.5rem + 10vw);
}
/*estilo login */
.containerLogin{
  height: 100vh;
}
.txtGris{
  color: rgb(150, 150, 150);
}
.cuentaCreada{
  height: 10%;
}